Buena.com home assignment for the position of software engineer

Case Study Challenge:

help us take the first step. 
In Buena, every property starts with a Property Creation Flow - turning a physical building 
into a digital object in our system.


WEG Properties: Communities of owners who share responsibility for common areas. Legally complex, with voting and joint decisions.

MV Properties: Rental properties managed for landlords. Focused on tenant contracts, rent collection, and maintenance.


Your Task

Build a Property Dashboard with a guided creation flow.
Step 1: Dashboard

    Show a list of all properties with their name, type, and unique number
    Include a button to create a new property → this opens the creation flow

Step 2: Property Creation Flow

When the user clicks "Create new property," they should be guided through three steps:
1
General Info

    • Select management type (WEG or MV)
    • Enter property name
    • Assign property manager and accountant
    • File Upload for the declaration of division (Teilungserklärung).
    The Teilungserklärung contains most of the information required for all three steps (property, buildings, units). You may optionally use AI to extract and pre-fill these details.
    (Download example declaration of division here to use as sample input [https://buena-case-study.preview.buena.com/files/test_declaration%20of%20division.pdf])

2
Building Data

    • Each property can contain multiple buildings
    • For each building: enter street, house number, and other details

3
Units

    • Add units to buildings
    • Supported unit types: Apartment, Office, Garden, Parking
    • For each unit, capture: number, type, building, floor, entrance, size, co-ownership share, construction year, rooms


Efficiency Challenge: The flow should make it possible to enter data for a property with 60+ units quickly and efficiently.




Tech Requirements

This is our tech stack at Buena. Feel free to pick another one as long as it includes Node and React.
Frontend: Next.js, TypeScript
Backend: NestJS, Node.js
Database: PostgreSQL
Optional: OpenAI API


